@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Heebo&display=swap');
/* font-family: 'Barlow', sans-serif; */
/* font-family: 'Heebo', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #D6E1F0;
}
.container-A{
    flex-wrap: wrap;
}