@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Heebo&display=swap');
/* font-family: 'Barlow', sans-serif; */
/* font-family: 'Heebo', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #D6E1F0;
    margin-top: 5%;
}
/* CONTAINER PRINCIPAL */
.container-A{
    flex-wrap: wrap;
    width: 350px;
    height: 450px;
    margin: 0 auto;
    border-radius: 16px;
    background-color: #ffffff;
}
/* ELEMENTOS DO CONTAINER */
.imagem{
    padding: 16px;
}
img{
    width: 100%;
    height: 40%;
    border-radius: 10px;
}
/* CONTEUDO DE TEXTO */
.text{
    width: 326px;
    height: 200px;
    margin-left: 2%;
    font-family: 'Heebo', sans-serif;
    flex-wrap: wrap;
    text-align: center;
}
h3{
    padding-top: 12px;
}
p{
    padding-top: 16px;
    color: #4B4F52;
}